In [1]:
import pandas as pd

In [43]:
fortune = pd.read_csv("fortune1000.csv", index_col = "Rank")
sectors = fortune.groupby("Sector")

fortune.head()

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
1,Walmart,Retailing,General Merchandisers,482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,181241,1476,70400

In [12]:
# sectors = fortune.groupby("Sector")
sectors.head()

In [13]:
len(sectors)

21

In [16]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [18]:
sectors.first()
sectors.last()

,Company,Industry,Revenue,Profits,Employees
Sector,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,1923,-133,12000
Apparel,Guess,Apparel,2204,82,13500
Business Services,DeVry Education Group,Education,1910,140,11770
Chemicals,H.B. Fuller,Chemicals,2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,1902,-47,3448
Food and Drug Stores,Fredâ€™s,Food and Drug Stores,2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,1987,84,9072
"Hotels, Resturants & Leisure",Wendyâ€™s,Food Services,1896,161,21200
Household Products,Revlon,Household and Personal Products,1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,1895,46,5480
Materials,Schnitzer Steel Industries,Metals,1924,-197,2955
Media,Cenveo,"Publishing, Printing",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,1920,365,4178
Telecommunications,Equinix,Telecommunications,2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,1917,-12,1600

In [21]:
sectors.get_group("Energy")
sectors.get_group("Technology")

,Company,Sector,Industry,Revenue,Profits,Employees
Rank,,,,,,
3,Apple,Technology,"Computers, Office Equipment",233715,53394,110000
18,Amazon.com,Technology,Internet Services and Retailing,107006,596,230800
20,HP,Technology,"Computers, Office Equipment",103355,4554,287000
25,Microsoft,Technology,Computer Software,93580,12193,118000
31,IBM,Technology,Information Technology Services,82461,13190,411798
...,...,...,...,...,...,...
970,Rackspace Hosting,Technology,Internet Services and Retailing,2001,126,6189
971,VeriFone Systems,Technology,"Computers, Office Equipment",2001,79,5400
975,Super Micro Computer,Technology,"Computers, Office Equipment",1991,102,2285
984,Nuance Communications,Technology,Computer Software,1931,-115,13500
990,F5 Networks,Technology,Network and Other Communications Equipment,1920,365,4178

In [35]:
# fortune[fortune["Sector"] == "Apparel"]["Revenue"].sum()

sectors["Revenue"].sum()
sectors["Employees"].sum()
sectors["Profits"].max()
sectors["Profits"].min()
sectors["Employees"].mean()

sectors[["Revenue", "Profits"]].sum()
sectors[["Revenue", "Profits"]].mean()

                                   Revenue      Profits
Sector
Aerospace & Defense           17897.000000  1437.100000
Apparel                        6397.866667   549.066667
Business Services              5337.156863   553.470588
Chemicals                      8129.900000   754.266667
Energy                        12441.057377  -602.024590
Engineering & Construction     5922.423077   204.000000
Financials                    15950.784173  1872.007194
Food and Drug Stores          32251.266667  1117.266667
Food, Beverages & Tobacco     12929.465116  1195.744186
Health Care                   21529.426667  1414.853333
Hotels, Resturants & Leisure   6781.840000   827.880000
Household Products             8383.464286   515.285714
Industrials                   10816.978261   451.391304
Materials                      6026.627907   102.976744
Media                          8830.560000   973.880000
Motor Vehicles & Parts        20105.833333  1079.083333
Retailing                     18313.450000   597.875000
Technology                    13505.882353  1769.343137
Telecommunications            30788.933333  3242.466667
Transportation                11347.444444  1226.916667
Wholesalers                   11120.000000   205.825000

In [37]:
sectors.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [40]:
sectors["Revenue"].sum()
sectors["Employees"].mean().head(20)

Sector                      Industry
Aerospace & Defense         Aerospace and Defense               48402.850000
Apparel                     Apparel                             23093.133333
Business Services           Advertising, marketing              62050.000000
                            Diversified Outsourcing Services    50595.000000
                            Education                           15585.000000
                            Financial Data Services             13943.473684
                            Miscellaneous                       12573.333333
                            Temporary Help                      12004.000000
                            Waste Management                    23839.800000
Chemicals                   Chemicals                           15455.033333
Energy                      Energy                               5005.142857
                            Mining, Crude-Oil Production         5325.357143
                            Miscellaneous                        6700.000000
                            Oil and Gas Equipment, Services     25088.333333
                            Petroleum Refining                  14404.705882
                            Pipelines                            6011.750000
                            Utilities: Gas and Electric         10249.487805
Engineering & Construction  Engineering, Construction           26293.142857
                            Homebuilders                         3217.000000
Financials                  Commercial Banks                    54965.142857
Name: Employees, dtype: float64

In [47]:
sectors.agg({'Profits': 'max'})

                              Profits
Sector
Aerospace & Defense              7608
Apparel                          3273
Business Services                6328
Chemicals                        7685
Energy                          16150
Engineering & Construction        803
Financials                      24442
Food and Drug Stores             5237
Food, Beverages & Tobacco        7351
Health Care                     18108
Hotels, Resturants & Leisure     5920
Household Products               7036
Industrials                      4833
Materials                         991
Media                            8382
Motor Vehicles & Parts           9687
Retailing                       14694
Technology                      53394
Telecommunications              17879
Transportation                   7610
Wholesalers                      1472